#title {
    background-color: #ff3c68;
    color: #fff;
}
.meetText {
    font-family: 'Montserrat-Black';
    font-size: 3rem;
    line-height: 1.5;
}
body {
    font-family: 'Montserrat';
}
h2 {
    font-family: 'Montserrat-Bold';
    font-size: 3rem;
    line-height: 1.5;
}
h3 {
    font-family: "Montserrat-Light";
    font: 3rem;
}
p {
    color: #999999; 
    font-size: smaller;
}
.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 3rem;
    font-weight: bold;
}
#pricing {
    margin-top: 5%;
    text-align: center;
}
.card-deck {
    display: inline-flex;
}
.card {
    margin-left: 4%;
}
#cta {
    background-color: #ff537a;
    text-align: center;
    color: #fff;
}
.call-to-action {
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 8%;
    align-items: center;
}
.sing-up {
    border-radius: 5%;
}
#navbarSupportedContent {
    padding-left: 40%;
}
.features-icons {
    color: #ef8172;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}
.navbar {
    padding-top: 3%;
    padding-left: 15%;
    padding-bottom: 4.5rem;
}
.nav-item {
    padding: 18px ;
}
.nav-link {
    font-size: larger;
    font-family: 'Montserrat-Light';
}
.download-button {
    margin: 5% 3% 0% 5%;
}
.title-text {
    padding-left: 15%;
    padding-right: 5%;
}
.title-image {
    margin-bottom: 5%;
    width: 60%;
    transform: rotate(25deg);
}
.testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}
#testimonials {
    text-align: center;
    color: #fff;
    background-color: #ef8172;
}
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
#features {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}
.features-inner {
    display: inline-block;
    margin-left: 5%;
}
